[submodule "001_browser_interface_for_temperature_sensor/DHT-sensor-library"]
	path = 001_browser_interface_for_temperature_sensor/DHT-sensor-library
	url = https://github.com/adafruit/DHT-sensor-library
